#adminfront {
  position: relative;
  #btn-addimg {
    position: absolute;
    top: 110px;
    right: 15px;
    button {
      width: 100px;
      background: $green8;
      border: none;
    }
  }
  #admincarousel-table {
    border: 1px solid rgba(0, 0, 0, 0.05);
    thead {
      tr {
        background: $green3;
      }
    }
    th {
      color: $white;
    }
    td {
      vertical-align: middle !important;
      img {
        height: 100px;
      }
    }
    .btn-edit {
      background: $green7;
      border: none;
    }
    .btn-del {
      border: none;
    }
  }
  #box {
    width: 100%;
    height: 30px;
  }
  @include md {
    #admincarousel-table {
      td {
        img {
          height: 180px;
        }
      }
    }
  }
  @include lg {
    #admincarousel-table {
      td {
        img {
          height: 200px;
        }
      }
    }
  }
}